/* || Noto Serif  */

@font-face {
	font-style: normal;
	font-weight: 100 900;
	src: url("/fonts/NotoSerif/NotoSerif-VariableFont_wdth,wght.woff2");
	font-family: "Noto Serif";
}

@font-face {
	font-style: italic;
	font-weight: 100 900;
	src: url("/fonts/NotoSerif/NotoSerif-Italic-VariableFont_wdth,wght.woff2");
	font-family: "Noto Serif";
}

/* || Noto Sans */

@font-face {
	font-style: normal;
	font-weight: 100 900;
	src: url("/fonts/NotoSans/NotoSans-VariableFont_wdth,wght.woff2");
	font-family: "Noto Sans";
}

@font-face {
	font-style: italic;
	font-weight: 100 900;
	src: url("/fonts/NotoSans/NotoSans-Italic-VariableFont_wdth,wght.woff2");
	font-family: "Noto Sans";
}

/* || Noto Sans Display  */

@font-face {
	font-style: normal;
	font-weight: 100 900;
	src: url("/fonts/NotoSansDisplay/NotoSansDisplay-VariableFont_wdth,wght.woff2");
	font-family: "Noto Sans Display";
}

@font-face {
	font-style: italic;
	font-weight: 100 900;
	src: url("/fonts/NotoSansDisplay/NotoSansDisplay-Italic-VariableFont_wdth,wght.woff2");
	font-family: "Noto Sans Display";
}

/* || Noto Sans Mono  */

@font-face {
	font-style: normal;
	font-weight: 100 900;
	src: url("/fonts/NotoSansMono/NotoSansMono-VariableFont_wdth,wght.woff2");
	font-family: "Noto Sans Mono";
}

/* || Noto Color Emoji  */

@font-face {
	font-style: normal;
	font-weight: 400;
	src: url("/fonts/NotoColorEmoji/NotoColorEmoji-Regular.woff2");
	font-family: "Noto Color Emoji";
}

/* || Noto Emoji  */

@font-face {
	font-style: normal;
	font-weight: 300 700;
	src: url("/fonts/NotoEmoji/NotoEmoji-VariableFont_wght.woff2");
	font-family: "Noto Emoji";
}
