/* Global styles */
body {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
}

/* Course detail container */
.course-detail {
	margin: 0 auto;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Ombre légère */
	border-radius: 8px; /* Coins arrondis */
	background-color: #fff; /* Ajout d'un fond blanc */
	padding: 20px;
	max-width: 800px;
}

.course-title {
	margin-bottom: 10px;
	color: #333; /* Couleur du texte légèrement assombrie */
	font-size: 2em;
	text-align: center;
}

.course-thumbnail {
	margin-bottom: 20px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Ombre légère */
	border-radius: 8px; /* Coins arrondis pour l'image */
	width: 100%;
	height: auto;
}

.course-description {
	margin-bottom: 10px;
	color: #555; /* Couleur du texte légèrement plus foncée */
	font-size: 1.2em;
}

.course-instructor,
.course-price,
.course-discount,
.course-rating {
	margin-bottom: 5px;
	color: #777; /* Couleur du texte gris */
	font-size: 1em;
}

.course-structure-section {
	margin-top: 20px;
}

/* Chapter styles */
.chapter-item {
	margin-bottom: 10px;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); /* Ombre légère */
	border-radius: 8px; /* Coins arrondis */
	background-color: #f7f7f7;
}

.chapter-trigger {
	display: flex;
	justify-content: space-between;
	align-items: center;
	transition: background-color 0.3s ease;
	cursor: pointer;
	border-top-right-radius: 8px; /* Coins arrondis seulement en haut */
	border-top-left-radius: 8px; /* Coins arrondis seulement en haut */
	background-color: #f7f7f7;
	padding: 10px 15px;
	font-weight: bold;
}

.chapter-trigger:hover {
	background-color: #e0f7fa;
}

.chapter-content {
	padding: 15px;
}

/* Lesson styles */
.lesson-item {
	margin-bottom: 10px;
	margin-left: 0; /* Réinitialiser la marge */
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); /* Ombre légère */
	border-radius: 8px; /* Coins arrondis */
	background-color: #fff;
}

.lesson-trigger {
	display: flex;
	justify-content: space-between;
	align-items: center;
	transition: background-color 0.3s ease;
	cursor: pointer;
	background-color: #fff;
	padding: 10px 15px;
}

.lesson-trigger:hover {
	background-color: #e0f7fa;
}

.lesson-content {
	padding: 15px;
}

/* Nested lesson content styles */
.lesson-item .lesson-content {
	margin-left: 0; /* Réinitialiser la marge */
	border: 1px solid #ddd;
	border-radius: 8px; /* Coins arrondis */
	background-color: #fafafa;
	padding: 10px;
}
