
/* Conteneur global des cartes*/
.contain {
    margin-left: 10px;
    margin-right: 10px;
}

/* Section des Cartes Populaires */
.popular-card-section {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 20px;
  justify-content: center;
}

.popular-card {
    position: relative;
    width: 100%;
    max-width: 280px;
    height: auto;
    border: 1px solid rgba(150, 150, 150, 0.2);
    overflow: hidden;
    margin: 20px auto;
    border-radius: 5px;
    text-align: left;
    line-height: auto;
    padding-bottom: 10px;
    box-shadow: inset 5px 5px 20px rgba(255, 255, 255, 0.1);
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.popular-card:hover {
  background-color: rgb(255, 97, 0, 0.6);
  transform: scale(1.05);
}

/* Effet de surbrillance des Cartes */
@keyframes shimmy{
  0%, 100%{
    transform: rotateY(0deg) skewX(0deg);
  }
  50%{
    transform: rotateY(30deg) skewX(3deg);
  }
}

.shine {
  width: 1000px;
  height: 100px;
  margin-left: -100px;
  transform: rotate(30deg);
  background: linear-gradient(to top, transparent, rgba(200, 200, 200, 0.2), transparent);
  position: absolute;
  animation: shine 6s ease-in-out infinite;
  z-index: 1;
  pointer-events: none;
}

@keyframes shine{
  0%,100%{
    margin-top: -300%;
    
  }
  50%{
    margin-top: 300%;
  }
}

/* Style contenu des Cartes Populaires */
.card-content {
  position: relative;
  z-index: 0;
  display: flex;
  flex-direction: column;
}

.card-text-content {
  flex: 1;
}

.rating-container {
  display: flex;
  align-items: center;
}

.star-rating {
  display: flex;
  align-items: center;
  margin-left: 4px;
}

.star-rating .star {
  font-size: 1.2em; /* Taille des étoiles */
  margin: 1px; /* Espacement entre les étoiles */
  color: #fdce03; /* Couleur des étoiles */
}

.star-rating .star.empty {
  color: #333; /* Couleur des étoiles vides */
}

/* Media query pour s'adapter aux petits écrans */
@media (max-width: 600px) {
  .popular-card-section {
      flex-direction: column;
      align-items: center;
  }
}