.rating-container {
    display: flex;
    align-items: center;
  }
  
  .star-rating {
    display: flex;
    align-items: center;
    margin-left: 4px;
  }
  
  .star-rating .star {
    font-size: 1.5em;
    color: #fdce03;
  }

  