/* Styles généraux */
body {
	box-sizing: border-box;
	margin: 0;
	background-color: #f8f9fa;
	padding: 0;
	font-family: Arial, sans-serif;
}

/* Conteneur principal */
.cart-container {
	margin: 50px auto;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
	border-radius: 8px;
	background-color: #ffffff;
	padding: 20px;
	width: 70%;
}

/* En-tête */
.cart-header {
	margin-bottom: 30px;
	text-align: center;
}

.cart-header h1 {
	margin: 0;
	font-size: 2rem;
}

/* Liste des articles */
.cart-items {
	margin: 0;
	padding: 0;
	list-style: none;
}

.cart-item:first-child {
	border-top: 1px solid #333;
}

.cart-item {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid #333;
	padding: 15px 0;
}

.cart-item h3 {
	margin: 0;
	font-size: 1.2rem;
}

.cart-item p {
	margin: 5px 0 0;
	color: #6c757d;
}

.cart-item button {
	transition: background-color 0.3s ease;
	cursor: pointer;
	margin-left: 20px;
	border: none;
	border-radius: 4px;
	background-color: #df1e32;
	padding: 10px 15px;
	color: #ffffff;
	font-size: 0.9rem;
}

.cart-item button:hover {
	background-color: #bb1a2a;
}

/* Section du total et du paiement */
.cart-total {
	margin-top: 20px;
	text-align: left;
}

.cart-total h2 {
	margin: 0;
	margin-bottom: 10px;
	color: #333333;
	font-size: 1.5rem;
}

.cart-total p {
	margin: 10px 0;
	color: #6c757d;
	font-size: 1rem;
}

.cart-total button {
	transition: background-color 0.3s ease;
	cursor: pointer;
	border: none;
	border-radius: 4px;
	background-color: #28a745;
	padding: 10px 20px;
	color: #ffffff;
	font-size: 1rem;
}

.cart-total button:hover {
	background-color: #218838;
}

/* Message de panier vide */
.empty-cart {
	padding: 50px 0;
	text-align: center;
}

.empty-cart p {
	color: #6c757d;
	font-size: 1.2rem;
}

@media only screen and (max-width: 850px) {
	.cart-container {
		margin: 50px auto;
		box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
		border-radius: 8px;
		background-color: #ffffff;
		padding: 20px;
		width: 100%;
	}
}
